
.landing-page{
  margin-top: 60px;
  background-image: url('../images/the-flatiron-building.png');
}


Block
Border
Background
Text
Other

.landing-page__header{
  margin-bottom: 1%;

  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
  text-align: center;

}

.main-menu{
  font-family: Helvetica;
  font-size: 18px;
  color: white;
  text-align: center;
  line-height: 220%
}

a{
  color: white;
}

.process-steps__title{
  margin-top: 2%;

  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.process-steps__stage{
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
  text-align: center;
  line-height: 220%;
}

.process-steps__comment{
  font-family: Helvetica;
  font-size: 14px;
  text-align: center;
  line-height: 220%;
}

.project__origin-place{
  background-image: url('../images/the-flatiron-building.png');

  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.project-infos{
  text-align: center;
}

.project-info{
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
  line-height: 220%;
}

.project-info__content{
  font-family: Helvetica;
  font-size: 14px;
  line-height: 220%;
}

.process-logic__picture{
  text-align: center;
}

.footer-info__link{
font-family: Helvetica;
font-size: 18px;
color: white;
padding: 1.5px;
}

.landing-page__footer{
  display: flex;
  background-color: dimgray;
}
